@import "variables";

.destination-image {
   display: inline;
   margin-left: 12%;
}

.destination-text-content {
    display: inline;
    margin-right: 5%;
    float: right;
    margin-top: -20px;
    margin-right: 12%;
}

.sub-heading {
    display: flex;
    gap: 7%;
}

