
@import "variables";



.homepage {
    width: 100vw;
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
    overflow-x:hidden;
    background-image: url("../assets/home/background-home-desktop.jpg");
}

.circle {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: $White;
    color: $Off-black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17%;
    cursor: pointer;
}

.circle:hover {
    box-shadow:0 0 0 70px rgba(255, 255, 255, .1);
}

.explore {
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: 400;
    color: $Off-black;
    font-family: "Belllefair";
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    text-decoration: none;}

.text-group {
    position: relative;
    margin-top: 8%;
}

.content {
    width: 80vw;
    margin-top: 10%;
    margin-left: 12%;
    display: flex;
    gap: 30%;
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {

    .homepage {
        height: 1024px;
        background-image: url("../assets/home/background-home-tablet.jpg");
    }
    
    .content {
        display: block;
        margin: auto;
        margin-top: 13%;
    }

    .circle {
        margin: auto;
        margin-top: 23%;
    }
    
}

@media only screen and (min-width: 300px) and (max-width: 600px) {


    .homepage  {
        height: 667px;
        background-image: url("../assets/home/background-home-mobile.jpg");
    }

    .content {
        width: 100vw;
        display: inline-block;
        margin: auto;
        margin-top: 10%;
    }

    .text-group {
        margin: 0;
    }


    .circle {
        width: 150px;
        height: 150px;
        margin: auto;
        margin-top: 20%;
    }

    .explore {
        font-size: 20px;
        letter-spacing: 1.25px;
    }


}