
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

@import "variables";

body {
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    all: unset;
    display: block;
    padding-top: 10px;
}

h1 {
    font-size: 150px;
    font-family: "Belllefair";
    font-weight: 400;
    color: $White;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    text-transform: uppercase;
}

h2 {
    font-size: 100px;
    font-family: "Belllefair";
    font-weight: 400;
    color: $White;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    padding-bottom: 20px;
    padding-top: 10px;
}

h3 {
    font-size: 56px;
    font-family: "Belllefair";
    font-weight: 400;
    color: $White;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 25px;
}

h4 {
    font-size: 32px;
    font-family: "Belllefair";
    font-weight: 400;
    color: $gray;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    padding-bottom: 0.7rem;
}

h5 {
    font-size: 28px;
    font-family: 'Barlow Condensed';
    font-weight: 400;
    color: $light-blue;
    letter-spacing: 4.75px;
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
    padding-right: 15px;
}

.nav-text {
    font-size: 16px;
    color: $White;
    font-family: 'Barlow Condensed';
    font-weight: 400;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}

.body-text {
    color: $light-blue;
    font-size: 18px;
    line-height: 34px;
    font-family: 'Barlow';
    font-weight: 400;
    width: 444px;
    padding-bottom: 2.5rem;
}

.sub-heading-one {
    font-size: 27px;
    color: $White;
    font-family: "Belllefair";
    font-weight: 400;
    text-transform: uppercase;
}

.sub-heading-two {
    font-size: 14px;
    color: $light-blue;
    font-family: 'Barlow Condensed';
    font-weight: 400;
    letter-spacing: 2.36px;
    text-transform: uppercase;
}

.text-heading {
    padding-top: 4%;
    padding-bottom: 7%;
    margin-left: 10%;
    color: $White;
}

.text-heading>.bold {
    color: $gray;
}

.hr-line {
    all: unset;
    display: block;
    background: #383B4B;
    height: 1px;
    margin: auto;
    padding: 0;
}


/////////////// ERROR PAGE //////////////////

.error-page {
    width: 100vw;
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
    overflow-x:hidden;
    background-image: url("../assets/error-page/desktop-error-page.png");
    display: flex;
    text-align: center;
    align-items: center;
}

.error-content {
    margin: auto;
}

.error-content h1 {
    font-family: 'Barlow';
    letter-spacing: 15px;
}

.error-content h5 {
    letter-spacing: 3px;
    color: $White;
}

.error-content a {
    text-decoration: none;
    color: #0F2C59;
    font-weight: 500;
    letter-spacing: 1.5px;
    display: block;
    margin: auto;
    margin-top: 40px;
    padding: 15px 35px;
    border-radius: 50px;
    background-color: white;
    width: fit-content;
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {

    * {
        text-align: center;
    }
    
    h2 {
        font-size: 80px;
    }

    h3 {
        font-size: 40px ;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 20px;
        letter-spacing: 3.38px;
    }

    .bold {
        padding-right: 10px;
    }

    .nav-text {
        font-size: 14px;
        letter-spacing: 2.36px;
    }

    .body-text {
        font-size: 16px;
        line-height:28px;
        padding: 0;
        text-align: center;
        margin: auto;
    }

    .text-heading {
        display: block;
        width: 100vw;
        margin: 0;
        padding-left: 50px;
        padding-top: 25px;
        padding-bottom: 50px;
        text-align: left;
    }

    .hr-line {
        width: 85vw;
        margin-top: 30px;
    }


    //////////// ERROR PAGE ////////////////

    .error-page {
        height: 1024px;
        background-image: url("../assets/error-page/tablet-error-page.png");
    }
}



@media only screen and (min-width: 300px) and (max-width: 600px) {


    
    * {
        text-align: center;
    }


    h1 {
        font-size: 80px;
        padding-bottom: 20px;
    }

    h2 {
        font-size: 56px;
        padding-bottom: 10px;
    }

    h3 {
        font-size: 24px;
        padding-bottom: 20px;
        padding-top: 0;
    }

    h4 {
        font-size: 16px;
        padding-bottom: 12px;
    }

    h5 {
        font-size: 16px;
        letter-spacing: 2.7px;
        text-align: center;
        padding-bottom: 15px;
    }

    .nav-text {
        font-size: 14px;
        letter-spacing: 2.36px;
    }

    .body-text {
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        width: 327px;
        margin: auto;
        padding-bottom: 20px;
    }

    .text-heading {
        padding: 0;
        margin: 0;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .hr-line {
        width: 90vw;
    }

    //////////// ERROR PAGE //////////////
    

    .error-page {
        height: 667px;
        background-image: url("../assets/error-page/mobile-error-page.png");
    }

    .error-content h5 {
        width: 70vw;
    }
}
